# Introduction to Polars using Python

This workshop is part of the [CDVS Fall 2025 workshop series](library.duke.edu/data/workshops). If you have questions about the content or would like to schedule a consulation with Duke Libraries [Center for Data and Visualization Sciences](library.duke.edu/data), please contact the instructor: Joel Herndon (joel.herndon@duke.edu).

**Abstract**  
Polars provides an open source library for data manipulation that allows fast, large-scale data work in multiple data analytics languages without the need for specialized computing. This workshop focuses on using the Polars library in the Python programming language. We will spend workshop time covering the context for Polars, common data manipulation processes, and close by considering possibilities of using Polars as part of a larger data workflow. This event is open to non-Duke participants.

## Why Polars?

Why another data manipulation language?

1. Speed (especially on laptops/personal machines)
2. Strictness/Consistency
3. Expressiveness

## Workshop goals and guidelines

- This workshop provides an overview of Polars fundamentals. The goal of the workshop is to provide enough detail to enable you to evaluate whether Polars is a good fit for your work.
  - We will use fairly simple examples, but Polars is capable of much more complex work.
  - We won't cover all the features available in Polars in this hour long workshop, but I hope you continue to explore!
  - We won't consider all aspects of the Polars API, but I list some resources at the end that will provide details.

- We are using Google's Colab in the live workshop, but I'd encourage everyone to consider a full featured code development environment if you wish to use polars further.

- You are encouraged to ask questions, both during the workshop. We're also happy to stay in touch at askdata@duke.edu after the workshop!

## Core data structures

Polars has two prominent data structures.

1. Series
2. DataFrames

### 1. Series

- named, one-dimensional data structures
- containing sequential data
- all data are of the same type (homogenous)

 Key aspects of a polars Series:

- It is immutable (operations create new Series rather than modifying existing ones)
- It is designed for fast vectorized operations
- It can handle null (missing) values while maintaining strong typing

Let's build two small polars Series comprised of:

1. the names of coffee drinks
2. the prices of coffee drinks

In [2]:
# 1. coffee drink orders
import polars as pl
coffee_drink_orders = pl.Series(
    'coffee_drinks',
    ['brewed coffee', 'latte', 'mocha', 'espresso', 'latte', 'mocha']
    )
coffee_drink_orders

shape: (6,)
Series: 'coffee_drinks' [str]
[
	"brewed coffee"
	"latte"
	"mocha"
	"espresso"
	"latte"
	"mocha"
]

In [ ]:
# 2. prices of coffee drinks
import polars as pl
coffee_drink_prices = pl.Series(
    'coffee_prices',
    [2.25, 4.25, 5.50, 2.25,4.25, 5.50]
    )
coffee_drink_prices

shape: (6,)
Series: 'coffee_prices' [f64]
[
	2.25
	4.25
	5.5
	2.25
	4.25
	5.5
]

### 2. DataFrames

- named, two-dimensional data structures
- containing a collection of Series (columns)
- each column (polars Series) can hold a different data type
- each column (polars Series) must contain the same number of elements

Key aspects of a polars DataFrame:

- It is heterogeneous (different columns can have different data types)
- Columns are named
- It is immutable (operations create new DataFrames rather than modifying existing ones)
- The columns are internally stored as contiguous arrays, optimized for both row and column operations
- It supports vectorized operations across multiple columns

Since we have already have two polars Series (coffee drinks and coffee prices) with information about the coffee names and coffee prices, we can build a polars DataFrame from the two Series that we just created.

In [4]:
# DataFrame of names and prices of coffee drinks
coffee_df = pl.DataFrame(
    {
        'name' : coffee_drink_orders,
        'price': coffee_drink_prices
    }
)
coffee_df

shape: (6, 2)
┌───────────────┬───────┐
│ name          ┆ price │
│ ---           ┆ ---   │
│ str           ┆ f64   │
╞═══════════════╪═══════╡
│ brewed coffee ┆ 2.25  │
│ latte         ┆ 4.25  │
│ mocha         ┆ 5.5   │
│ espresso      ┆ 2.25  │
│ latte         ┆ 4.25  │
│ mocha         ┆ 5.5   │
└───────────────┴───────┘

Another popular approach for creating DataFrame in code is to utilize a group of python dictionaries create the Series that comprise the polars DataFrame.

The following code combines four dictionaries into a new DataFrame called `flights`.

I created this small dataframe of various flights from Raleigh Durham airport (RDU) so that we can explore Polars data wrangling in a way where you can see the transformations clearly. We'll use this dataset in some common data manipulation tasks that follow.

Note: the distance variables is courtesy of: [https://www.airportdistancecalculator.com/](https://www.airportdistancecalculator.com/)

In [3]:
import polars as pl
flights = pl.DataFrame(
    {
        "flight": ["Raleigh Durham to Svalbard",
                   "Raleigh Durham to London",
                   "Raleigh Durham to Los Angeles",
                   "Raleigh Durham to Boston",
                   "Raleigh Durham to Chicago",
                   "Raleigh Durham to New York"],
        "cost": [None,1200.00,600.00,250.00,300.00, 420.00],
        "distance_km": [6209,6216,3595,985,1040,693],
        "non_stop": [False,True,True, True, False, True],
    }
)
flights

shape: (6, 4)
┌───────────────────────────────┬────────┬─────────────┬──────────┐
│ flight                        ┆ cost   ┆ distance_km ┆ non_stop │
│ ---                           ┆ ---    ┆ ---         ┆ ---      │
│ str                           ┆ f64    ┆ i64         ┆ bool     │
╞═══════════════════════════════╪════════╪═════════════╪══════════╡
│ Raleigh Durham to Svalbard    ┆ null   ┆ 6209        ┆ false    │
│ Raleigh Durham to London      ┆ 1200.0 ┆ 6216        ┆ true     │
│ Raleigh Durham to Los Angeles ┆ 600.0  ┆ 3595        ┆ true     │
│ Raleigh Durham to Boston      ┆ 250.0  ┆ 985         ┆ true     │
│ Raleigh Durham to Chicago     ┆ 300.0  ┆ 1040        ┆ false    │
│ Raleigh Durham to New York    ┆ 420.0  ┆ 693         ┆ true     │
└───────────────────────────────┴────────┴─────────────┴──────────┘

## Common polars data types

Polars has a wide range of [data types](https://docs.pola.rs/api/python/stable/reference/datatypes.html).

For today's workshop, we will focus on:

- Numeric types (on my mac the default is 64 bit floats (decimals) and 64 bit integers)
- Strings
- Booleans

If you look at the output of the `flights` DataFrame above, you can see that Polars will assign default types to the data as they are assigned.

## Loading and saving data

Generally, most of the data that you are going to use in Polars won't be created inside your program.

Polars has a broad set of tools for loading and parsing data stored in a variety of common formats.

##### Delimited files

Polars' `read_csv()` function will read comma delimited files when you provide a location for the file. Polars also uses the `read_csv()` function to load other delimited formats when specify the delimeter using the `separator` argument (see example below).

Let's give it a try.

When you execute the code block below, click the browse button below the code, and upload the `flights.csv` file in the data directory that you downloaded earlier in the class.

In [ ]:
# if you are running this outside of google colab
# omit the first two lines
from google.colab import files
files.upload()
df = pl.read_csv("flights.csv") # basic example
df

In the example above, we had a relatively simple polars DataFrame with clean data. Sometimes, your data may have certain content that requires additional specification to load the data cleanly. Some common examples follow:

1. Your data have missing values encoded as "NA" (a string), but should be treated as missing data.  
`df = read_csv("flights.csv", null_values="NA")`

2. Your data are delimited, but instead of using a comma, use a tab (\t) or other delimiter.  
`df = read_csv("flights.txt", separator="\t") # tab delimited code`

3. Your data contain dates and/or dates with times and you would like for Polars to attempt to convert those fields to the appropriate date or time type.  
`df = read_csv("flights.csv", try_parse_dates=True)`
```

##### Excel

No matter how you feel about Microsoft Excel, it is a very popular format. You can directly load a single sheet of excel data using Polars `read_excel` command.
    
**Note:** Polars uses a helper package to read excel files. In the example that follows, Google Colab appears to require the `fastexcel` package to be installed for this example to work. Please uncomment the first line to install `fastexcel` if needed. If you are using another development environment, please install the necessary helper package. See the [Polars API notes](https://docs.pola.rs/api/python/stable/reference/api/polars.read_excel.html).

When you execute the code block, click browse, and upload the `flights.xlsx` file in the data directory that you downloaded earlier in the class.

In [ ]:
#!pip install fastexcel
from google.colab import files
files.upload()
excel_flights = pl.read_excel("flights.xlsx") #basic example
excel_flights

### Saving data

In general most of the functions for loading data have a corresponding function for writing data as well. Please see the [Polars API](https://docs.pola.rs/api/python/stable/reference/io.html) for further details.

In [ ]:
df.write_csv("flights.csv") #basic example

### Missing data in polars

Polars represents missing values using `null` exclusively across data types. When you are loading data, remember that it's important to ensure that other encodings for missing data are converted so that they are correctly represented as missing (and not as strings ("NA"), negative numbers (-99), or some other encoding).

# Common data manipulation processes

One of Polars great strengths as a data manipulation library is its simple, expressive syntax that allows you to construct complex expressions by combining a simple elements. We will discuss Polars expressions shortly, but let's try some hands-on data data wrangling first.

### 5 common "verbs" for data wrangling in Polars

Inspired by a common way of sharing the common commands for data wrangling in the R data analysis langauge, I present five common methods for data wrangling using Polars.

#### 1. select()

The `select` command is the primary method for choosing columns (or variables) that you wish to include in a dataframe. Using our `flights` DataFrame, let's look at a few examples.

In [ ]:
# First, let's remind ourselves of the columns that are available.
# I can do this several ways. Try: `flights.columns` for example.
# Let's look at the entire DataFrame
flights

If I want to see the names of the flights, I can select the `flight` column using the `pl.col` function which tells polars which columns that we wish to select. We will use `pl.col` to select columns in all of these examples.

In [6]:
flights.select(pl.col('flight'))

shape: (6, 1)
┌───────────────────────────────┐
│ flight                        │
│ ---                           │
│ str                           │
╞═══════════════════════════════╡
│ Raleigh Durham to Svalbard    │
│ Raleigh Durham to London      │
│ Raleigh Durham to Los Angeles │
│ Raleigh Durham to Boston      │
│ Raleigh Durham to Chicago     │
│ Raleigh Durham to New York    │
└───────────────────────────────┘

If I wanted to see the `flight` and the `distance_km` columns only, I can select those to appear.

In [7]:
flights.select(pl.col('flight','distance_km'))

shape: (6, 2)
┌───────────────────────────────┬─────────────┐
│ flight                        ┆ distance_km │
│ ---                           ┆ ---         │
│ str                           ┆ i64         │
╞═══════════════════════════════╪═════════════╡
│ Raleigh Durham to Svalbard    ┆ 6209        │
│ Raleigh Durham to London      ┆ 6216        │
│ Raleigh Durham to Los Angeles ┆ 3595        │
│ Raleigh Durham to Boston      ┆ 985         │
│ Raleigh Durham to Chicago     ┆ 1040        │
│ Raleigh Durham to New York    ┆ 693         │
└───────────────────────────────┴─────────────┘

You are welcome to select as many columns as you wish, but when you have a lot of columns and you want almost all of them, polars offers the `drop()` method to remove columns that you wish to omit. Let's drop the airport abbreviations in the `origin` and `destination` columns. Typing one variable is a lot faster than typing three!

In [8]:
flights
flights.drop(pl.col('cost')) # note that I am not saving this change into a new DataFrame

shape: (6, 3)
┌───────────────────────────────┬─────────────┬──────────┐
│ flight                        ┆ distance_km ┆ non_stop │
│ ---                           ┆ ---         ┆ ---      │
│ str                           ┆ i64         ┆ bool     │
╞═══════════════════════════════╪═════════════╪══════════╡
│ Raleigh Durham to Svalbard    ┆ 6209        ┆ false    │
│ Raleigh Durham to London      ┆ 6216        ┆ true     │
│ Raleigh Durham to Los Angeles ┆ 3595        ┆ true     │
│ Raleigh Durham to Boston      ┆ 985         ┆ true     │
│ Raleigh Durham to Chicago     ┆ 1040        ┆ false    │
│ Raleigh Durham to New York    ┆ 693         ┆ true     │
└───────────────────────────────┴─────────────┴──────────┘

`select()` is a powerful tool. By reducing the number of columns in your dataframe, you increase the efficiency of your analysis (and increase the speed).
  
Note: Polars offers some additional options for selecting columns.

- It is possible to use regular expressions to define a selection `flights.select(pl.col('^c.*$'))` # columns starting with "c"
- It is possible to select by data type `flights.select(df.select(pl.col(pl.Int64))`
- It is possible to use slice notation and avoid select entirely (but this is not preferred syntax) `flights[:]`

#### 2. filter()
The `filter` command is the primary method for selecting rows based on certain criteria that you wish to include in a dataframe.

Polars filters rows using a column (or vector) of true/false values to determine which rows to keep and which rows to drop (technically this is called "boolean mask filtering").

Using our flights DataFrame, let's look at a few examples.

Let's say that we wanted only the flights from RDU that were of a distance less than 1000 kilometers. We could reduce our DataFrame to these flights with the following code.

In [ ]:
flights.filter(pl.col('distance_km') < 1000)

So, our Boston and New York flights are both under 1000 kilometers from Durham.  

Let's make this a bit more complex, by adding more criteria to the filter.

Polars allows complex filter queries by combining multiple conditions using boolean expressions. For most operations, you will use the following operators to build these expressions.

|Operator | Symbol |
|----------|:----------:|
| AND   | &   |
| OR    | \|   |
| NOT   | ~    |



Polars tends to require explicit (with a few shortcuts- see below) conditions- so expect to type in each condition. Also, Polars wants you to enclose each condition in parentheses. It's really helpful to use a development environment that provides visual cues (usually colored parentheses) or code tips to ensure you've closed the relevant parenthesis.


Let's say that we want to see all the flights that are:

1. less than 6000 kilometers from Durham
2. less than $500

In [ ]:
flights.filter(
    (pl.col('distance_km')<6000) &
    (pl.col('cost')< 500.00)
)

When a column contains a boolean data type (`true` or `false`), you can simply add it into the set of conditions (if the item is `true`, include that row). For example:  

Which flights in our dataset are non-stop from Raleigh Durham?  I know that I have non-stop column that has boolean values (they are `true` or `false` depending on whether the flight is non-stop).?

In [ ]:
flights.filter(pl.col('non_stop'))

Since the column is already contains boolean values, simply listing the column as a filter condition selects the rows where that condition evaluates to `True`.  


**BONUS**: What if you wanted to see the flights with multiple stops?    


Not a problem!

Just use `NOT` boolean operator `~` like so:

In [ ]:
flights.filter(~pl.col('non_stop'))

#### 3. sort()

In the previous exercises, `select` and `filter` have helped to reduce our Dataframe to relevant columns and rows.

The `sort` method builds on these commands by allowing us to specify how the columns should be arranged for presentation.

Let's try a simple sort based on our filtered data considering non-stop flights in the dataset.

In [ ]:
flights.filter(pl.col('non_stop')).sort(pl.col('distance_km'))

In the above, note how `sort` defaults to ascending order. If you want to sort in descending order:

In [ ]:
flights.filter(pl.col('non_stop')).sort(pl.col('distance_km'), descending=True)

It is entirely possible to specify more than one column for a sort. Let's look at our non-stop flights that have multiple stops and sort by the cost and the distance_km.

In [ ]:
(
flights
    .filter(pl.col('non_stop'))
    .sort(
        [
            pl.col('cost'),
            pl.col('distance_km')
        ]          
    )
)

shape: (4, 4)
┌───────────────────────────────┬────────┬─────────────┬──────────┐
│ flight                        ┆ cost   ┆ distance_km ┆ non_stop │
│ ---                           ┆ ---    ┆ ---         ┆ ---      │
│ str                           ┆ f64    ┆ i64         ┆ bool     │
╞═══════════════════════════════╪════════╪═════════════╪══════════╡
│ Raleigh Durham to Boston      ┆ 250.0  ┆ 985         ┆ true     │
│ Raleigh Durham to New York    ┆ 420.0  ┆ 693         ┆ true     │
│ Raleigh Durham to Los Angeles ┆ 600.0  ┆ 3595        ┆ true     │
│ Raleigh Durham to London      ┆ 1200.0 ┆ 6216        ┆ true     │
└───────────────────────────────┴────────┴─────────────┴──────────┘

*Optional*: Is it possible to sort some columns ascending with others descending? Yes, just assign bracketed list of booleans (`True` or `False`) to each of the sort columns.

In [5]:
(
flights
    .filter(pl.col('non_stop'))
    .sort(
        [
            pl.col('cost'),
            pl.col('distance_km')
        ],
        descending=[True, False]
    )
)

shape: (4, 4)
┌───────────────────────────────┬────────┬─────────────┬──────────┐
│ flight                        ┆ cost   ┆ distance_km ┆ non_stop │
│ ---                           ┆ ---    ┆ ---         ┆ ---      │
│ str                           ┆ f64    ┆ i64         ┆ bool     │
╞═══════════════════════════════╪════════╪═════════════╪══════════╡
│ Raleigh Durham to London      ┆ 1200.0 ┆ 6216        ┆ true     │
│ Raleigh Durham to Los Angeles ┆ 600.0  ┆ 3595        ┆ true     │
│ Raleigh Durham to New York    ┆ 420.0  ┆ 693         ┆ true     │
│ Raleigh Durham to Boston      ┆ 250.0  ┆ 985         ┆ true     │
└───────────────────────────────┴────────┴─────────────┴──────────┘

Note how our data are now sorted by the distance in kilometers in ascending order. Often, we will want to see the results in descending order (top 5 lists are very popular in data work!). It is easy to specify the `descending` parameter in the `sort` method as `True` to do this.

One last thing to not about sorting DataFrames.  If you have missing data in a sort column, it will be listed first (it doesn't matter if you are sorting ascending or descending). If you would prefer to have the `null` values appear at the end of the sort, add the `nulls_last=True` parameter.

Nulls first:

In [ ]:
flights.sort(pl.col('cost'), descending=True)

Nulls last:

In [ ]:
flights.sort(pl.col('cost'), descending=True, nulls_last=True)

It is entirely possible to specify more than one column for a `sort`. Let's look at our flights that have multiple stops (non-stop = False) and sort by the `cost` and the `distance_km`.

#### 4. with_columns()

We often want to build on the data that we have in our dataset by adding addtional variables to our datasets. The `with_columns()` method provides a convenient way to Adding columns to DataFrames.  Let's calculate the cost per kilometer for each of flights and try to determine which is the best bargain.

In [6]:
flights.with_columns(
   cost_per_kilometer = pl.col('cost') / pl.col('distance_km')
)

shape: (6, 5)
┌───────────────────┬────────┬─────────────┬──────────┬───────────────────┐
│ flight            ┆ cost   ┆ distance_km ┆ non_stop ┆ cost_per_kilomete │
│ ---               ┆ ---    ┆ ---         ┆ ---      ┆ r                 │
│ str               ┆ f64    ┆ i64         ┆ bool     ┆ ---               │
│                   ┆        ┆             ┆          ┆ f64               │
╞═══════════════════╪════════╪═════════════╪══════════╪═══════════════════╡
│ Raleigh Durham to ┆ null   ┆ 6209        ┆ false    ┆ null              │
│ Svalbard          ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 1200.0 ┆ 6216        ┆ true     ┆ 0.19305           │
│ London            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 600.0  ┆ 3595        ┆ true     ┆ 0.166898          │
│ Los Angeles       ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 250.0  ┆ 985         ┆ true     ┆ 0.253807          │
│ Boston            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 300.0  ┆ 1040        ┆ false    ┆ 0.288462          │
│ Chicago           ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 420.0  ┆ 693         ┆ true     ┆ 0.606061          │
│ New York          ┆        ┆             ┆          ┆                   │
└───────────────────┴────────┴─────────────┴──────────┴───────────────────┘

The flight to Los Angeles is a slightly better deal in the cost per kilometer than the flight to London. Note that the we didn't have a cost for the flight to Svalbard (we only have a `null` value there) and we couldn't calculate the cost per kilometer for that trip.

Up until now, we've been selecting, filtering, and sorting our data without making any changes in the underlying DataFrame. As we start adding new variables (or new columns) like the "cost per kilometer", we will likely want to save our new column. In order to do this, you must assign the result of the `.with_columns()` expression to a new (or existing) variable name like so:

In [8]:
flights = flights.with_columns(
   cost_per_kilometer = pl.col('cost') / pl.col('distance_km')
)
flights

shape: (6, 5)
┌───────────────────┬────────┬─────────────┬──────────┬───────────────────┐
│ flight            ┆ cost   ┆ distance_km ┆ non_stop ┆ cost_per_kilomete │
│ ---               ┆ ---    ┆ ---         ┆ ---      ┆ r                 │
│ str               ┆ f64    ┆ i64         ┆ bool     ┆ ---               │
│                   ┆        ┆             ┆          ┆ f64               │
╞═══════════════════╪════════╪═════════════╪══════════╪═══════════════════╡
│ Raleigh Durham to ┆ null   ┆ 6209        ┆ false    ┆ null              │
│ Svalbard          ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 1200.0 ┆ 6216        ┆ true     ┆ 0.19305           │
│ London            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 600.0  ┆ 3595        ┆ true     ┆ 0.166898          │
│ Los Angeles       ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 250.0  ┆ 985         ┆ true     ┆ 0.253807          │
│ Boston            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 300.0  ┆ 1040        ┆ false    ┆ 0.288462          │
│ Chicago           ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 420.0  ┆ 693         ┆ true     ┆ 0.606061          │
│ New York          ┆        ┆             ┆          ┆                   │
└───────────────────┴────────┴─────────────┴──────────┴───────────────────┘

Another stylistic note- Polars offers two different syntax styles for creating columns.

1. *keyword argument syntax*: In the example above, we name the column, apply the `=` sign and define our calculation.  

2. *expression based syntax*: Polars also has an expression based syntax that assigns the name of the variable by using an `.alias()` method at the end of the expression. This may seem more intuitive if you use python a lot and enjoy method chaining. (If that doesn't make sense- stick with the keyword argument syntax!)

```
flights = flights.with_columns(
   (pl.col('cost') / pl.col('distance_km')).alias('cost_per_kilometer')
)
flights
```

#### 5. group_by()


Sometimes you want to aggregate your data to understand patterns by groups. The `group_by()` verb (method) provides a convenient way to collapse the dataframe into groups defined by one or more variables and then generate statistics based on these groupings. Note that `group_by()` on it's own only splits the data into groups (see code below) without producing results, we have to add some more code to run calculations on the groups.

In [34]:
flights.group_by(pl.col('non-stop')) # this creates groups... but no output!

Often it is helpful to get a count of the number of items present in each group. Using the `group_by()` method in combination with with the the length `len()` polars will handle this efficiently.

In [42]:
flights.group_by(pl.col('non_stop')).len()

shape: (2, 2)
┌──────────┬─────┐
│ non_stop ┆ len │
│ ---      ┆ --- │
│ bool     ┆ u32 │
╞══════════╪═════╡
│ false    ┆ 2   │
│ true     ┆ 4   │
└──────────┴─────┘

For now, we will start with a very simple example using our small flights dataset that considers the average distance of non-stop flights versus flights with layovers. The code after `.agg()` calculates the mean of the distance in kilometers and renames the calculated variable `average_distance_km`.

In [35]:
flights.group_by(pl.col('non_stop')).agg(pl.col('distance_km').mean().alias('average_distance_km'))

shape: (2, 2)
┌──────────┬─────────────────────┐
│ non_stop ┆ average_distance_km │
│ ---      ┆ ---                 │
│ bool     ┆ f64                 │
╞══════════╪═════════════════════╡
│ false    ┆ 3624.5              │
│ true     ┆ 2872.25             │
└──────────┴─────────────────────┘

#### 6. over()

I know. I said I was only going to show you five common "verbs" in Polars...

 `group_by()` provides a convenient way to "collapse" or aggregrate the data into groups. Sometimes, you want to run a calculation on a grouped variable (or variables) while adding the result to the original dataframe. This is where the `over()` method comes in handy in Polars. Let's try the same example as above, but this time we'll use `.over` in our expression instead of `group_by()`. 
 
 In the output that follows, you can see how average distance is calculated for each group in the non-stop variable (`true` and `false`) and then added to the Dataframe as a new column. We use polars `.alias` method to provide a name for the newly calculated column.

In [13]:
flights.with_columns(pl.col('distance_km').mean().over(pl.col('non_stop')).alias('average_distance_km'))

shape: (6, 6)
┌─────────────┬────────┬─────────────┬──────────┬────────────┬────────────┐
│ flight      ┆ cost   ┆ distance_km ┆ non_stop ┆ cost_per_k ┆ average_di │
│ ---         ┆ ---    ┆ ---         ┆ ---      ┆ ilometer   ┆ stance_km  │
│ str         ┆ f64    ┆ i64         ┆ bool     ┆ ---        ┆ ---        │
│             ┆        ┆             ┆          ┆ f64        ┆ f64        │
╞═════════════╪════════╪═════════════╪══════════╪════════════╪════════════╡
│ Raleigh     ┆ null   ┆ 6209        ┆ false    ┆ null       ┆ 3624.5     │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ Svalbard    ┆        ┆             ┆          ┆            ┆            │
│ Raleigh     ┆ 1200.0 ┆ 6216        ┆ true     ┆ 0.19305    ┆ 2872.25    │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ London      ┆        ┆             ┆          ┆            ┆            │
│ Raleigh     ┆ 600.0  ┆ 3595        ┆ true     ┆ 0.166898   ┆ 2872.25    │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ Los Angeles ┆        ┆             ┆          ┆            ┆            │
│ Raleigh     ┆ 250.0  ┆ 985         ┆ true     ┆ 0.253807   ┆ 2872.25    │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ Boston      ┆        ┆             ┆          ┆            ┆            │
│ Raleigh     ┆ 300.0  ┆ 1040        ┆ false    ┆ 0.288462   ┆ 3624.5     │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ Chicago     ┆        ┆             ┆          ┆            ┆            │
│ Raleigh     ┆ 420.0  ┆ 693         ┆ true     ┆ 0.606061   ┆ 2872.25    │
│ Durham to   ┆        ┆             ┆          ┆            ┆            │
│ New York    ┆        ┆             ┆          ┆            ┆            │
└─────────────┴────────┴─────────────┴──────────┴────────────┴────────────┘

### Expressions

Let us focus on a core feature of polars: **expressions**. We've been using expressions already in our small data examples without noting it. As Jannsens and Nieuwdorp (2025) describe it:

> "If you think of an expression as a recipe, then the operations would be the steps, and the functions and methods would be like the cooks."

Jannsens and Nieuwdorp (2025) also provide a formal definition:

> "An expression is a tree of operations that describe how to constuct one or more Series."

Let's look at an example to make this clearer. In the code below, we use the DataFrame method `with_columns` to add a column to the DataFrame. In this example, you can think of of `with_columns` as the chef and the expression that follows as the steps to make it happen. Indeed, the steps or the expression is completely reusable in a variety of contexts. Let's try it!

In [14]:
# run this code for reminder of how with_columns works
# we've seen this earlier in the workshop
flights.with_columns(
   cost_per_kilometer = pl.col('cost') / pl.col('distance_km')
)

shape: (6, 5)
┌───────────────────┬────────┬─────────────┬──────────┬───────────────────┐
│ flight            ┆ cost   ┆ distance_km ┆ non_stop ┆ cost_per_kilomete │
│ ---               ┆ ---    ┆ ---         ┆ ---      ┆ r                 │
│ str               ┆ f64    ┆ i64         ┆ bool     ┆ ---               │
│                   ┆        ┆             ┆          ┆ f64               │
╞═══════════════════╪════════╪═════════════╪══════════╪═══════════════════╡
│ Raleigh Durham to ┆ null   ┆ 6209        ┆ false    ┆ null              │
│ Svalbard          ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 1200.0 ┆ 6216        ┆ true     ┆ 0.19305           │
│ London            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 600.0  ┆ 3595        ┆ true     ┆ 0.166898          │
│ Los Angeles       ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 250.0  ┆ 985         ┆ true     ┆ 0.253807          │
│ Boston            ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 300.0  ┆ 1040        ┆ false    ┆ 0.288462          │
│ Chicago           ┆        ┆             ┆          ┆                   │
│ Raleigh Durham to ┆ 420.0  ┆ 693         ┆ true     ┆ 0.606061          │
│ New York          ┆        ┆             ┆          ┆                   │
└───────────────────┴────────┴─────────────┴──────────┴───────────────────┘

In [15]:
# now, let's extract the expression into a variable
my_expression = cost_per_kilometer = pl.col('cost') / pl.col('distance_km')

My instructions for creating a `cost_per_kilometer` are now saved in the variable `my_expression`. This is valid code, but without the DataFrame and a method ("verb") to activate the code, if I call the expression I just see the code.

In [16]:
# Note that the expression is valid code (you won't get an error)
# BUT also note that you need a DataFrame and one of our methods ("verbs") that
# acts on the expression to generate a result.
my_expression

Let's use our expression in a different context. I'm still working with the same `flights` data that we used before, but this time I'm going to use the `select` method of the DataFrame. Note that you can use `select` to generate Series in a DataFrame as well as "selecting" Series in DataFrame.

In [17]:
# and now, I'm going to reuse my_expression with the same Dataframe
# but with a different verb (or method)
flights.select(
    my_expression
)

shape: (6, 1)
┌──────────┐
│ cost     │
│ ---      │
│ f64      │
╞══════════╡
│ null     │
│ 0.19305  │
│ 0.166898 │
│ 0.253807 │
│ 0.288462 │
│ 0.606061 │
└──────────┘

If this seems confusing, don't worry! Expressions tend to make more sense as you use Polars more frequently.

## Polars workflows

### Big data and polars

The six observations in the flights dataset provide a quick visual idea of polars data manipulation tools, but do not illustrate polars ability to process large data collections. For this section of the workshop, we will scale up our current flights dataset to examine air travel data to Raleigh Durham airport from 2010 to 2024 using data from the Federal Aviation Administration (FAA). A special thanks to Simon Couch and his colleagues who developed the [R package "anyflights"](https://github.com/simonpcouch/anyflights) that provided the tools for downloading the FAA data!

Let us load these data into Colab and explore Polars with a dataset of roughly a million rows. When you execute the code that follows, click the browse button that appears, and upload the `rdu_flights.parquet` file in the data directory that you downloaded earlier in the class. (Note that we are using the [parquet format](https://en.wikipedia.org/wiki/Apache_Parquet) which stores very large files efficiently.) When the file loads, we get a report of the first five rows and the last five rows of the DataFrame. Polars is designed for working for large data- so the default response takes the size of the data into account.

In [5]:
# if you are running this outside of google colab
# omit the first four lines and uncomment the fifth
#import polars as pl #if neeeded
#from google.colab import files
#files.upload() # choose rdu_flights.parquet
#rdu_flights = pl.read_parquet("rdu_flights.parquet") # basic example
rdu_flights = pl.read_parquet("data/rdu_flights.parquet")
rdu_flights

shape: (954_988, 45)
┌──────┬───────┬─────┬──────────┬───┬───────────────┬─────────────┬─────────────┬───────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ plane_engines ┆ plane_seats ┆ plane_speed ┆ plane_engine  │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---           ┆ ---         ┆ ---         ┆ ---           │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ i64           ┆ i64         ┆ i64         ┆ str           │
╞══════╪═══════╪═════╪══════════╪═══╪═══════════════╪═════════════╪═════════════╪═══════════════╡
│ 2010 ┆ 1     ┆ 1   ┆ 553      ┆ … ┆ 2             ┆ 100         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 555      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 609      ┆ … ┆ 2             ┆ 145         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 613      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 617      ┆ … ┆ 2             ┆ 200         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 625      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 645      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 656      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 657      ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 658      ┆ … ┆ 2             ┆ 20          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 659      ┆ … ┆ 2             ┆ 142         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 707      ┆ … ┆ 2             ┆ 20          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 723      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 723      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 748      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 749      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 757      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 805      ┆ … ┆ 2             ┆ 142         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 819      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 830      ┆ … ┆ 2             ┆ 55          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 838      ┆ … ┆ 1             ┆ 2           ┆ 0           ┆ Reciprocating │
│ 2010 ┆ 1     ┆ 1   ┆ 859      ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 900      ┆ … ┆ 2             ┆ 55          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 900      ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-jet     │
│ 2010 ┆ 1     ┆ 1   ┆ 902      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 924      ┆ … ┆ 2             ┆ 139         ┆ 432         ┆ Turbo-jet     │
│ 2010 ┆ 1     ┆ 1   ┆ 937      ┆ … ┆ 2             ┆ 142         ┆ 0           ┆ Turbo-jet     │
│ 2010 ┆ 1     ┆ 1   ┆ 947      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 947      ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 957      ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 958      ┆ … ┆ 2             ┆ 100         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1007     ┆ … ┆ 2             ┆ 179         ┆ 0           ┆ Turbo-jet     │
│ 2010 ┆ 1     ┆ 1   ┆ 1008     ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1014     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 1023     ┆ … ┆ 2             ┆ 20          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1045     ┆ … ┆ 2             ┆ 55          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1045     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1054     ┆ … ┆ 2             ┆ 142         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1102     ┆ … ┆ 1             ┆ 2           ┆ 0           ┆ Reciprocating │
│ 2010 ┆ 1     ┆ 1   ┆ 1108     ┆ … ┆ 2             ┆ 179         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1108     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 1128     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1135     ┆ … ┆ 2             ┆ 55          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1136     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 1142     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1149     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 1150     ┆ … ┆ 2             ┆ 55          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1154     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2010 ┆ 1     ┆ 1   ┆ 1156     ┆ … ┆ 2             ┆ 20          ┆ 0           ┆ Turbo-fan     │
│ 2010 ┆ 1     ┆ 1   ┆ 1157     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …             ┆ …           ┆ …           ┆ …             │
│ 2024 ┆ 9     ┆ 30  ┆ 1652     ┆ … ┆ 2             ┆ 185         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1658     ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1712     ┆ … ┆ 2             ┆ 88          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1715     ┆ … ┆ 2             ┆ 185         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1719     ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1721     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1735     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1748     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1751     ┆ … ┆ 2             ┆ 80          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1758     ┆ … ┆ 2             ┆ 88          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1758     ┆ … ┆ 2             ┆ 182         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1805     ┆ … ┆ 2             ┆ 162         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1805     ┆ … ┆ 2             ┆ 145         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1806     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2024 ┆ 9     ┆ 30  ┆ 1809     ┆ … ┆ 2             ┆ 185         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1810     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1820     ┆ … ┆ 2             ┆ 162         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1820     ┆ … ┆ 2             ┆ 162         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1824     ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 1824     ┆ … ┆ 2             ┆ 100         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1831     ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1836     ┆ … ┆ 2             ┆ 179         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1842     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1845     ┆ … ┆ 2             ┆ 88          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1847     ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1849     ┆ … ┆ 2             ┆ 185         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1851     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2024 ┆ 9     ┆ 30  ┆ 1859     ┆ … ┆ 2             ┆ 140         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1900     ┆ … ┆ 2             ┆ 145         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1910     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1919     ┆ … ┆ 2             ┆ 190         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 1920     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1922     ┆ … ┆ 2             ┆ 162         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1925     ┆ … ┆ 2             ┆ 179         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1940     ┆ … ┆ 2             ┆ 80          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1946     ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1946     ┆ … ┆ 2             ┆ 199         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1949     ┆ … ┆ 2             ┆ 149         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1957     ┆ … ┆ 2             ┆ 88          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 1958     ┆ … ┆ 2             ┆ 95          ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 2005     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
│ 2024 ┆ 9     ┆ 30  ┆ 2038     ┆ … ┆ 2             ┆ 222         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 2057     ┆ … ┆ 2             ┆ 190         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 2100     ┆ … ┆ 2             ┆ 190         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 2105     ┆ … ┆ 2             ┆ 246         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 2117     ┆ … ┆ 2             ┆ 379         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ 2203     ┆ … ┆ 2             ┆ 190         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 2203     ┆ … ┆ 2             ┆ 190         ┆ 0           ┆ Turbo-jet     │
│ 2024 ┆ 9     ┆ 30  ┆ 2206     ┆ … ┆ 2             ┆ 189         ┆ 0           ┆ Turbo-fan     │
│ 2024 ┆ 9     ┆ 30  ┆ null     ┆ … ┆ null          ┆ null        ┆ null        ┆ null          │
└──────┴───────┴─────┴──────────┴───┴───────────────┴─────────────┴─────────────┴───────────────┘

### Getting a sense of the data
Before we start exploring the `rdu_flights` data, let us first try to understand a little bit about how this data differs from our six flight example that we used earlier. If you look at the top of the of the DataFrame listing above, you will note that Polars already provides information about the DataFrame each time you print it. The shape (954_988, 45) tells us that we have 954988 rows (the underscore is python's way of making the number easier to read) and 45 columns.  It is possible to ask polars directly for the number of rows and columns by using the `height` and `width` properties of the DataFrame at any time. We can also ask for the column names (`columns`) to get a sense of the variables.

Note: If you are using polars heavily for data exploration, I'd strongly recommend using an intergrated development environment (IDE) for coding and data analysis. Several IDEs have powerful and convenient tools for exploring data and variables that will allow you to focus on analytics.

In [ ]:
rdu_flights.shape # how many rows and columns in the dataframe

In [ ]:
rdu_flights.height # how many rows in the dataframe?

In [ ]:
rdu_flights.width # how many columns?

In [ ]:
rdu_flights.columns # what are the column names?

In [ ]:
rdu_flights.schema # let's look at the column names and data types together

In [ ]:
rdu_flights.describe() # descriptive statistics for the dataframe (you have to look at the dep_delay column)

The `rdu_flights` DataFrame list all the flights with Raleigh Durham airport as the `origin`. The DataFrame also has rich information about the nature of the flight (departure time versus scheduled departure for example), the weather at RDU at the time of the flight, and the type of plane used for the flight. For today's workshop, we only have time to explore a bit, but you are welcome to use this dataset to explore (and maybe form some hypothesis about?) flights out of Raleigh Durham airport.

### Exploratory analysis: Example 1

The primary reason that most people consider polars is its speed at processing large data collections. Let's ask some questions about our data and note the Polars speed (the `rdu_flights` dataframe has roughly a million observations.)

1. What are the number of departing flights at RDU airport by year?

We can't directly see a million observations, but we might be interested in the number of flights that originate from Raleigh Durham airport each year from 2010 to 2024 (we only have data through September 2024). Let's group the DataFrame by year and create an expression to count the flights (each row in this DataFrame is a flight) using the `len()` method.

In [2]:
rdu_flights.group_by('year').agg(pl.len())

NameError: name 'rdu_flights' is not defined

This is great... the polars algorithm is fast (instantaneous), but it doesn't return the data sorted in a way that makes it easy to parse. We'd like to have those years sorted.

I'll also note that polars default way of printing DataFrames is great for looking at big data, but very frustrating for smaller DataFrames, we'll change the default.  If you use this code: `pl.Config.set_tbl_rows(100)`, Polars will display up to 100 rows without breaks.

In [3]:
pl.Config.set_tbl_rows(100) # show 100 rows
rdu_flights.group_by('year').agg(pl.len()).sort('year')

NameError: name 'rdu_flights' is not defined

This is great, but we might want to share this with someone. Let us rename the second column from `len` to `flights` How would you do that?

In [6]:
rdu_flights.group_by(pl.col('year')).agg(pl.len().alias('flights')).sort(pl.col('year'))

shape: (15, 2)
┌──────┬─────────┐
│ year ┆ flights │
│ ---  ┆ ---     │
│ i64  ┆ u32     │
╞══════╪═════════╡
│ 2010 ┆ 48924   │
│ 2011 ┆ 42620   │
│ 2012 ┆ 44016   │
│ 2013 ┆ 47983   │
│ 2014 ┆ 38813   │
│ 2015 ┆ 34898   │
│ 2016 ┆ 104895  │
│ 2017 ┆ 71874   │
│ 2018 ┆ 121448  │
│ 2019 ┆ 128312  │
│ 2020 ┆ 67720   │
│ 2021 ┆ 44136   │
│ 2022 ┆ 54049   │
│ 2023 ┆ 59416   │
│ 2024 ┆ 45884   │
└──────┴─────────┘

This is very handy. I can see the flights increasing at RDU up to the pandemic, and a steady recovery in the last few years (remember, we still don't have a full year of data for 2024). This calculation is so handy, that I'm going to save this expression `pl.len.alias('flights')` so I can use it later without having to retype the entire expression.

In [7]:
number_of_flights = (pl.len().alias('flights'))

### Exploratory analysis: Example 2

2. Are departure delays increasing or decreasing at RDU each year?

We have a variable called `dep_delay` that measures delays in minutes (I note that some flights seem to leave early because there are negative delays). Let's count the number of rows each year where the departure delay is greater than 15 minutes.

In [10]:
(
rdu_flights.group_by('year')
    .agg(pl.col('dep_delay')
    .filter(pl.col('dep_delay') > 15)
    .len()
    .alias('delayed_flights')
)
.sort('year')
)

shape: (15, 2)
┌──────┬─────────────────┐
│ year ┆ delayed_flights │
│ ---  ┆ ---             │
│ i64  ┆ u32             │
╞══════╪═════════════════╡
│ 2010 ┆ 7339            │
│ 2011 ┆ 6234            │
│ 2012 ┆ 6099            │
│ 2013 ┆ 8003            │
│ 2014 ┆ 6757            │
│ 2015 ┆ 5623            │
│ 2016 ┆ 16182           │
│ 2017 ┆ 11952           │
│ 2018 ┆ 23592           │
│ 2019 ┆ 23146           │
│ 2020 ┆ 5082            │
│ 2021 ┆ 5674            │
│ 2022 ┆ 9896            │
│ 2023 ┆ 10762           │
│ 2024 ┆ 9260            │
└──────┴─────────────────┘

If I'm a researcher for the FAA (or RDU) interested in flight delay data, I might want to use that expression again later. Let's save it in a variable called "flights_delayed_by_15_minutes".

In [12]:
flights_delayed_by_15_minutes = (
    pl.col('dep_delay')
    .filter(pl.col('dep_delay') > 15)
    .len()
    .alias('delayed_flights')
)

Here is an example of reusing our saved expression (`flights_delayed_by_15_minutes`) in the aggregation (`.agg()`) part of our grouping.

In [ ]:
rdu_flights.group_by('year').agg(
    flights_delayed_by_15_minutes
).sort('year')

### Exploratory analysis: Example 3

3. Is there some relationship with increases in the number of flights and delays?

We've already calculated the number of flights per year and saved that expression (`number_of_flights`).

We've also saved the expression that calculates the flights delayed by fifteen minutes (`flights_delayed_by_15_minutes`).

We can run the same analysis that groups the data by year and simply provide those two expressions to see our flights and delays together.

The `.agg` function will accept a python list (`[]`) of expressions and run each calculation for us.

Let's give it a try:

In [13]:
rdu_flights.group_by('year').agg([
    number_of_flights,
    flights_delayed_by_15_minutes]
).sort('year')

shape: (15, 3)
┌──────┬─────────┬─────────────────┐
│ year ┆ flights ┆ delayed_flights │
│ ---  ┆ ---     ┆ ---             │
│ i64  ┆ u32     ┆ u32             │
╞══════╪═════════╪═════════════════╡
│ 2010 ┆ 48924   ┆ 7339            │
│ 2011 ┆ 42620   ┆ 6234            │
│ 2012 ┆ 44016   ┆ 6099            │
│ 2013 ┆ 47983   ┆ 8003            │
│ 2014 ┆ 38813   ┆ 6757            │
│ 2015 ┆ 34898   ┆ 5623            │
│ 2016 ┆ 104895  ┆ 16182           │
│ 2017 ┆ 71874   ┆ 11952           │
│ 2018 ┆ 121448  ┆ 23592           │
│ 2019 ┆ 128312  ┆ 23146           │
│ 2020 ┆ 67720   ┆ 5082            │
│ 2021 ┆ 44136   ┆ 5674            │
│ 2022 ┆ 54049   ┆ 9896            │
│ 2023 ┆ 59416   ┆ 10762           │
│ 2024 ┆ 45884   ┆ 9260            │
└──────┴─────────┴─────────────────┘

### Exploratory analysis: Example 4 (if we have time)

4. What's the best day of the week in 2014 to fly to Washington, DC (Ronald Reagan National Airport or DCA) if you want the best chance of departing on time?

Translation to Polars

1. We want flights in 2014: `filter(pl.col('year') = 2014)`
2. We want flights to DCA so: `filter(pl.col('dest') == "DCA")`
3. We also want flights that depart on time so: `filter(pl.col('dep_delay') <= 0)`

As we learned earlier, polars allows us to combine these conditions in a single filter command. If the filters are additive (each condition is linked by an AND), polars will allow to list the conditions separated by commas. It will know that all the conditions must apply.


4. We haven't covered dates in polars yet, but we have a variable called `departure_date_time` that is a polars `datetime` type. This allows us to query that field for the numerical day of the week (Monday is 1 and Sunday is 7) using this code: `pl.col('departure_date_time).dt.weekday()`. We'll add this to our DataFrame using `with_columns()`.

5. In order to calculate the best chance of of departing on time (on any airline) to Reagan National, we need to calculate the average number of on time (or early departures) on average for each day of the week. This calculation requires two groupings.
  1. Our first `group_by` creates a DataFrame with the day of the week, the date and the number of flights.
  2. The second `group_by` groups the DataFrame from the previous step by day and calculates the average of on-time flights for that day.

Let's put these together in code and see what we get.

In [14]:
# Coding challenge: can you convert the numeric day?
rdu_flights.filter(
    pl.col('year') == 2024,
    pl.col('dest') == "DCA",
    pl.col('dep_delay') <= 0
).with_columns(
    pl.col('departure_date_time').dt.weekday().alias('day_of_week')
).group_by([pl.col('day_of_week'), pl.col('departure_date_time').dt.date()]).agg(
    pl.len().alias('daily_flights')
).group_by('day_of_week').agg(
    pl.col('daily_flights').mean().alias('avg_daily_on_time_flights')
).sort('avg_daily_on_time_flights', descending = True)

shape: (7, 2)
┌─────────────┬───────────────────────────┐
│ day_of_week ┆ avg_daily_on_time_flights │
│ ---         ┆ ---                       │
│ i8          ┆ f64                       │
╞═════════════╪═══════════════════════════╡
│ 2           ┆ 6.128205                  │
│ 7           ┆ 5.871795                  │
│ 1           ┆ 5.75                      │
│ 3           ┆ 5.435897                  │
│ 4           ┆ 5.410256                  │
│ 5           ┆ 5.216216                  │
│ 6           ┆ 3.157895                  │
└─────────────┴───────────────────────────┘

Based on 2024 flights, your best bet is flying on Tuesday!

## Polars lazy (and extremely fast) API

Up to this point, we have used Polars eager application programming interface (API) to process our queries. When we enter commands, we get immediate feedback. This immediate feedback resembles other data manipulation libraries like Pandas (python) and dplyr (R), and should be familar if you have worked in those languages.

Polars *lazy API* provides an alternative way of processing large data or working in high performance workflows. Instead of loading data and immediately executing transfomations, Polars evaluates the DataFrame noting the characteristics of the data without loading the data and builds a query graph of the transformations requested. By deferring immediate execution and not loading data until called (the "lazy" in Polars "lazy" API), the lazy API can significantly optimize data manipulation queries.

We won't spend a lot of time looking at Lazy API in today's workshop, but we explore some of its core commands here.

### Using the lazy API

Implementing the lazy API, generally begins with creating a "LazyFrame" (or representation of the DataFrame that does not contain the data). If you have a DataFrame in memory, you can use the `lazy()` method to convert it to a LazyFrame and use the Polars lazy API.

In [ ]:
lazy_rdu_flights = rdu_flights.lazy()

It's also possible to scan data into a Polars LazyFrame using one of Polars many "scan" methods.

In [ ]:
lazy_rdu_flights = pl.scan_parquet("rdu_flights.parquet")

Once you have loaded your data into a lazyframe, the data manipulation steps are identical to the ones that we have used above with one exception - when you start with a LazyFrame, Polars will not provide a DataFrame in the output until you "materialize" the DataFrame using the `collect()`.

In the examples that follow. The first example uses polars eager API (as we did earlier) to evaluate our query. The second example uses the same query with the lazy API.  I've timed each query (I note that I get varying results on Google Colab...), but generally the lazy API is faster. If you have very big data (more than one million rows and many columns), you should definitely consider the lazy API as part of your analytics strategy!

In [ ]:
# Lets use the Polars eager API
%time
rdu_flights.group_by('year').agg([
    number_of_flights,
    flights_delayed_by_15_minutes]
).sort('year')

In [ ]:
# Lets use the lazy API
%time
lazy_rdu_flights.group_by('year').agg(
    [
        number_of_flights,
        flights_delayed_by_15_minutes
    ]).sort('year').collect()

# Closing thoughts and questions

## Getting help

Learning Polars is an iterative process that takes time. It can be frustrating to translate your analysis goals into a new language-- especially if you are very skilled in a given language. The following resources may be of help:  

### General resources

- *CDVS - Duke Libraries - askdata@duke.edu*  
As always, Duke Libraries Center for Data and Visualization Science (askdata@duke.edu) can assist with questions about data management and data wrangling. Consultations are available by appointment.

- *Polars API*  
While I sometimes disagree with how things are organized... the [Polars Python API](https://docs.pola.rs/api/python/stable/reference/index.html) is an outstanding resource for the latest syntax. If you are questioning the validity of AI suggestions (and sometimes those suggestions are erroneous!), the API can help resolve questions.

### LLM ("AI") Resources
- [Claude.ai](claude.ai) is quite good at code related questions (although you should always verify what it tells you!).
- [Microsoft's Co-Pilot](https://oit.duke.edu/service/microsoft-copilot/) is available at Duke and can be helpful.
- [Github for Education](https://github.com/education) (*Students and Educators* by application) - Github offers very generous access to its  tools which include github copilot.

### eBooks
Duke Libraries subscribe to the [O'Reilly for Higher Education](https://go.oreilly.com/duke-university) Database where you will find Jeroen Janssens and Thijs Nieuwdorp's [Python Polars: The Definitive Guide](https://learning.oreilly.com/library/view/python-polars-the/9781098156077/). This is an excellent way to learn Polars and serves as compelling reference.

### Data resources
We used FAA flight data pulled using the [anyflights]() API. If you would like to investigate this API further check out:  

Couch S (2023). anyflights: Query 'nycflights13'-Like Air Travel Data for Given Years and Airports. https://github.com/simonpcouch/anyflights, https://simonpcouch.github.io/anyflights/.

### Other polars APIs

As mentioned in the introduction, [Polars](https://pola.rs/) is written in Rust and has implementations in Julia, R (check out [TidyPolars](https://tidypolars.etiennebacher.com/), and Javascript. If Polars seems compelling and you regularly use one of those languages, please try one of the other implementations!